<div class="container-fluid">
    <div class="row"
        id="event-details" data-timestamps='{{timestamps}}'

         data-video-timestamps='{{front_video_timestamps}}'
         data-video-frame-time='{{front_video_frame_time}}'

                 data-start-frame='{{event_start_frame}}'
                 data-end-frame='{{event_end_frame}}'>

        <div class="col-4">
         Empty
        </div>
        <div class="col-4">
            <video id="video" class="embed-responsive h-100">
                <source src="{{front_video_path}}" type="video/mp4">
            </video>
        </div>

          <div class="col-4">
         Empty
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{signal_plots}}
        </div>
    </div>
</div>